// fonts
$font-main: 'Roboto', sans-serif;
$font-title: 'Roboto Slab', serif;

// colors header
$color-bg-header: #6c933e;
$color-text-header: white;

// colors main
$color-text-main-1: black;
$color-text-main-2: #6c933e;
$color-text-main-3:#4a4a4a;
$color-bg-main: #d9e4cc;
$color-button-main: #6c933e;

// colors footer
$color-bg-footer: #4a4a4a;
$color-text-header: white;