<section class="back" id="backtoschool">

    <div class="back_title">
        <h3 class="back_title_h3">¡Prepáralos con tus marcas favoritas!</h3>
        <h2 class="back_title_h2">VUELTA AL COLE</h2>
    </div>

  <div class="grid">

    <div class="grid_element">
      <img class="grid_element_image" src="./images/img_main_1.png" alt="comprar mochilas">
      <p class="grid_element_title">Mochilas escolares</p>
    </div>

    <div class="grid_element">
      <img class="grid_element_image" src="./images/img_main_2.png" alt="comprar estuches">
      <p class="grid_element_title">Estuches</p>
    </div>

    <div class="grid_element">
      <img class="grid_element_image" src="./images/img_main_3.png" alt="comprar bolsas de deporte">
      <p class="grid_element_title">Bolsas de deporte</p>
    </div>

  </div>
  
<div class="button_container">
 
 
  <a href="https://adalab.es/"> 
  <button class="button_startnow">Empezar ahora</button>
  </a>
</div>
  

</section>
