<footer class="footer">

    <a href="#header" class="footer_button">
        <img src="/images/ico-arrow.svg" class="footer_button_img" alt="scroll down">
    </a>

    <ul class="footer_list1">
        <li><a class="footer_list1_menu" href="https://adalab.es">ZAPATILLAS</a></li>

        <li><a class="footer_list1_menu" href="https://adalab.es">ROPA</a></li>

        <li><a class="footer_list1_menu" href="https://adalab.es">NIÑO/A</a></li>

        <li><a class="footer_list1_menu" href="https://adalab.es">DESTACADOS</a></li>

        <li><a class="footer_list1_menu" href="https://adalab.es">TIPS</a></li>
    </ul>

    <ul class="footer_list2">
        <li><a class="footer_list2_menu" href="https://adalab.es">TWITTER</a></li>

        <li><a class="footer_list2_menu" href="https://adalab.es">INSTAGRAM</a></li>

        <li><a class="footer_list2_menu" href="https://adalab.es">YOUTUBE</a></li>

    </ul>

    <div class="footer_copy">
        <p class="footer_copy_year">@2023</p>

        <p class="footer_copy_love">we <i class="footer_copy_heart fa-solid fa-heart"></i> run</p>
    </div>

</footer>