

<header class="header" id="header">
   
    <nav class="header_menu">
        <a href="https://adalab.es"><img src="/images/ico-menu.svg" alt="menu"></a>
    </nav>


 <div class="header_section">
        <h1 class="header_section_title">COMIENZOS COMPARTIDOS</h1>
        <p class="header_section_p">Todo lo que necesitan para volver al cole con ilusión</p>

      

        <a href="#backtoschool" class="button">
            <img src="/images/ico-scroll-down.svg" class="button_img" alt="scroll down">
        </a>


</div>


</header>