
<section class="stories">

    <div class="content_stories">
        <h3 class="content_stories_h3">HISTORIAS, MODA Y ROPA DEPORTIVA</h3>
        <h2 class="content_stories_h2">TU TIENDA DE DEPORTE</h2>
        <p class="content_stories_p">El deporte nos mantiene en forma. Nos mantiene alerta. Nuestra ropa deportiva para hombre y mujer te ofrece las últimas tecnologías, a la altura de tu rendimiento, para que superes tu mejor marca personal</p> 

        <a href="https://adalab.es/">
        <button class="content_stories_button">Comprar</button>
        </a>

    </div>
  
</section>
